/* 
font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif; 
*/

* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

body {
    background: #FFF;
    color: #191919;
    height: 100vh;
    margin: 0;
}

h1,
h2 {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    letter-spacing: 2px;
    font-size: 2rem;
}

textarea,
h4,
button {
    margin: 0;
    font-family: 'Zilla Slab', serif;
    font-size: 1.25rem;
    letter-spacing: 1px;
}

#root {
    height: 100%;
}

.game-wrapper {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template: 20% 3fr repeat(2, 1fr) / 1fr;
}

.title {
    align-self: center;
    justify-self: center;
    text-align: center;
    cursor: default;
}

.text-field {
    margin: 0 0.75rem;
    padding: 0.5rem;
    text-align: justify;
    background: #FFF;
    color: #191919;
    border: #191919 4px solid;
    border-radius: 0.5rem;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    transition: 0.1s ease-in-out;
}

.text-field:disabled {
    background: #191919;
    color: #FFF;
}

.console-wrapper {
    align-self: end;
    justify-self: center;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    border: #191919 4px solid;
    border-radius: 2.75rem;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
    transition: 0.1s ease-in-out;
}

.timer {
    width: 130px;
    padding: 1rem 3rem;
    text-align: center;
    cursor: default;
}

.start-btn {
    background: #191919;
    color: #FFF;
    border: none;
    border-radius: 2.75rem;
    margin: 0.25rem;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.start-btn:hover,
.start-btn:focus {
    margin: 0;
}

.start-btn:active {
    margin: 0.25rem;
    background: #FFF;
    color: #19191979;
}

.start-btn:disabled {
    margin: 0;
    background: #FFF;
    color: #19191979;
    -webkit-box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.5); 
    box-shadow: inset 2px 2px 10px 0px rgba(0,0,0,0.5);
    cursor: progress;
}

.active {
    background: #191919;
    color: #FFF;
}

.score {
    align-self: center;
    justify-self: center;
    text-align: center;
    cursor: default;
}